<template name="estimationNonDevelopmentItem">
	<div class="record-line">
	    <div class="record-value-div nt-lvl-0-2">{{text}}</div>
	    <div class="non-development-input-div">
		    {{#if thisUser}}
		    	<input class="non-development-input" type="text" value={{percent}} />
		    {{/if}}
	    </div>
	    <div class="record-hours-div">{{hours}}h</div>
	    <div class="record-rate-div">
	    	{{#if thisUser}}
	    		<input class="record-rate" type="text" value={{rate}} />
	    		{{else}}
	    		{{rate}}
	    	{{/if}}
	    </div>
	    <div class="record-sum-div">{{sum}}</div>
	    <input class="non-development-checked" type="checkbox" checked="{{checked}}" />
	</div>
</template>
