<template name="estimationNonDevelopmentItem">
	<div class="record-line">
	    <div class="record-text-div nt-lvl-0-2">{{text}}</div>
	    <div class="non-development-input-div"><input class="non-development-input" type="text" value={{percent}} /></div>
	    <div class="record-hours-div">{{hours}}</div>
	    <div class="record-rate-div"><input class="record-rate" type="text" value={{rate}} /></div>
	    <div class="record-sum-div">{{sum}}</div>
	    <input class="non-development-checked" type="checkbox" checked="{{checked}}" />
	</div>
</template>