<template name="estimationItem">
	<div id={{_id}} class="record-line" >
	    {{#if isParent}}
	    	{{#if lineIsEmpty}}
	    		<div class="record-text-div empty {{nesting}}">{{text}}</div>
	        {{else}}
	            <div class="record-text-div parent-text {{nesting}}">{{text}}</div>
	        {{/if}}	
			{{#if notBaseBlock}}
				<div class="record-delete-div parent"><button class="delete">&times;</button></div>
			{{/if}}	
	    {{else}}
	        {{#if lineIsEmpty}}
	            <div class="record-text-div empty {{nesting}}">{{text}}</div>
	        {{else}}
	             <div class="record-text-div {{nesting}}">{{text}}</div>
	        {{/if}}
	        <div class="record-hours-div">{{hours}}</div>
	        <div class="record-rate-div">{{rate}}</div>
	        <div class="record-sum-div">{{sum}}</div>
	        <div class="record-delete-div"><button class="delete">&times;</button></div>
	    {{/if}}
	</div>
	{{#each blocksOfEstimation}}
	    {{>estimationItem}}
	{{/each}}
	{{#if endOfBlock}}
		<div class="record-line">
	        <div class="total-text-div {{nesting}}"><b>{{text}} Total</b></div>
	        <div class="total-hours-div"><b>{{totalHours}}</b></div>
	        <div class="total-rate-div"></div>
	        <div class="total-sum-div"><b>{{totalSum}}</b></div>
	    </div>
    {{/if}}
</template>