<template name="estimationPage">
	<div class="container">

        <ol class="breadcrumb">
            <li><a href="/estimations/">Estimations</a></li>
            <li class="active">{{name}}</li>
        </ol>

        <div class="names">
            <div class="list-name-div">
                <div class="list-name-label"><b>Project name:</b> </div>
                <div class="list-name">{{name}}</div>
            </div>

            <div class="client-name-div">
                <div class="client-name-label"><b>Client:</b> </div>
                <div class="client-name-label-div">{{clientName}}</div>
                <input class="client-name-input typeahead" type="text" value={{clientName}} autocomplete="off" spellcheck="off" data-source="clients" />
            </div>
        </div>
        {{#each developmentBlocks}}
            {{>estimationItem}}
        {{/each}}

        <div class="non-development-label nt-lvl-0-1"><b>Non-development Activities</b></div>
        {{#each nonDevelopmentBlocks}}
            {{>estimationNonDevelopmentItem}}
        {{/each}}

        
         <div class="record-line">
            <div class="total-text-div nt-lvl-0"><b>Non-development Activities Total</b></div>
            <div class="total-hours-div"><b>{{nonDevelopmentTotalHours}}</b></div>
            <div class="total-rate-div"></div>
            <div class="total-sum-div"><b>{{nonDevelopmentTotalSum}}</b></div>
        </div>
        <div class="record-line">
            <div class="total-text-div nt-lvl-0"><b>Project Total</b></div>
            <div class="total-hours-div"><b>{{projectTotalHours}}</b></div>
            <div class="total-rate-div"></div>
            <div class="total-sum-div"><b>{{projectTotalSum}}</b></div>
        </div>

    </div>
</template>

<template name="userPill">
    <span>{{clientName}}</span>
</template>