<template name="estimationsList">
	<div class="container">
		<div class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Estimations</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {{> loginButtons}}
                </ul>
            </div>
        </div>

		<div class="search-label"><b>Search:</b> </div>
	    <input class="client-filter-input" id="client-filter" type="text"/>
	    <button class='clear-filter'>&times;</button>
		<div class="create-new-list-div"><button class="btn btn-default create-new-list">Create new list</button></div>
	    <div class="estimations">
	    	{{> reactiveTable collection=estimations settings=settings showNavigation='never'}}
	  	</div>
	 </div>
</template>