input[type="text"] {
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.breadcrumb{
    width: 1076px;
}
.container, .non-development{
    width: 1200px;
}
.record-line, .testing, .stabilization, .project-management{
    text-align: center;
    margin-top: 10px;
    height: 30px;
    display: inline-block;
    line-height: 10px;
}
.total-sum{
    margin-top: 15px;
    height: 30px;
    padding-left: 950px;
    text-align: center;
}
.record-text{
    width: 400px;
    display: inline;
}

.record-hours, .record-rate, .record-sum, .testing-input, .testing-rate-input, .stabilization-input, .stabilization-rate-input,
.project-management-input, .project-management-rate-input{
    width: 80px;
    display: inline;
}
.client-name-input{
    display: none;
}
.record-text-div, .testing-text, .total-text-div, .stabilization-text, .project-management-text{
    text-align: left;
	height: 14px;
    width: 400px;
    display: inline-block;
}
.empty{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: grey;
}
.record-delete-div{
    display: inline;
}
.record-rate-div, .record-hours-div, .record-sum-div, .testing-hours-div, .testing-input-div, .testing-rate-div,
.testing-sum-div, .total-rate-div, .total-hours-div, .total-sum-div, .stabilization-hours-div, .stabilization-input-div,
.stabilization-rate-div, .stabilization-sum-div, .project-management-hours-div, .project-management-input-div,
.project-management-rate-div, .project-management-sum-div{
    width: 80px;
    height: 30px;
    display: inline-block;
}
.parent{
    margin-left: 252px;
}
.nt-lvl-0{
    padding-left: 0px;
    margin-right: 400px;
}
.nt-lvl-1{
    margin-left: 50px;
    margin-right: 350px;
}
.nt-lvl-0-1{
    margin-right: 320px;
}
.nt-lvl-0-2{
    margin-left: 50px;
    margin-right: 270px;
}
.nt-lvl-2{
    margin-left: 100px;
    margin-right: 300px;
}
.nt-lvl-3{
    margin-left: 150px;
    margin-right: 250px;
}
.nt-lvl-4{
    margin-left: 200px;
    margin-right: 200px;
}
.delete, .clear-filter{
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}
.list-name, .client-name{
    text-align: left;
    display: inline-block;
}
.create-new-list-div{
	position: relative;
    display: inline-block;
    text-align: right;
    margin-top: 7px;
    margin-left: 15px;
}
.search-label{
    width: 60px;
    display: inline-block;
}
.client-filter-input{
    width: 940px;
    display: inline-block;
    height: 35px;
}
.create{
    position: relative;
    text-align: center;
}
.back-to-lists{
    width: 75px;
    height: 30px;
    position: absolute;
    top: 50%;
    bottom: 50%;
}
.list-name-div, .client-name-div{
    display: inline-block;
    width: 49%;
    margin-bottom: 15px;
}
.list-name-label, .client-name-label, .client-name-label-div{
    display: inline-block;
}
.non-development-label{
    margin-top: 60px
}
.names{
    margin-bottom: 30px;
}